
// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// slide fade
.slide-fade-enter-active {
  transition: all 0.15s ease;
}
.slide-fade-leave-active {
  transition: all 0.15s ease;
}
.slide-fade-enter {
  transform: translateX(-10px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* fade-group */
.fade-group-enter,
.fade-group-leave-to {
    opacity: 0;
}

.fade-group-enter-active,
.fade-group-leave-active {
    transition: opacity 0.15s;
}

.fade-group-leave-active {
  position: absolute;
  width: 100%;
}
.fade-group-move {
  transition: transform 0.15s;
}

// slide-fade-group
.slide-fade-group-enter,
.slide-fade-group-leave-to {
    opacity: 0;
}

.slide-fade-group-enter-active,
.slide-fade-group-leave-active {
    transition-duration: 0.15s;
    transition-property: opacity, transform;
    transform: translateX(30px);
}

.slide-fade-group-leave-active {
  position: absolute;
  width: 100%;
}
.slide-fade-group-move {
  transition: transform 0.15s;
}
